---
import type { GetStaticPaths } from "astro";
import Pagination from "../components/control/Pagination.astro";
import PostPage from "../components/PostPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const isHomePage = page.page === 1; // 判断是否为首页（第一页）
const len = page.data.length;
---

<MainGridLayout>
	<PostPage page={page} />

	<!-- ✅ 仅在首页显示留言板占位容器 -->
	{isHomePage && (
		<>
			{/* 锚点：点击 #visitorbook 会滚动到这里 */}
			<div id="visitorbook" style="scroll-margin-top: 60px;"></div>

			{/* 动态内容将被 JS 插入到这里 */}
			<div id="visitorbook-container" class="mx-auto max-w-3xl px-4 py-6"></div>
		</>
	)}

	<Pagination
		class="mx-auto onload-animation"
		page={page}
		style={`animation-delay: calc(var(--content-delay) + ${(len) * 50}ms)`}
	/>
</MainGridLayout>
