<div id="twikoo-test"></div>

<script is:inline>
  // 最简测试
  const s = document.createElement('script');
  s.src = 'https://unpkg.com/twikoo@1.6.22/dist/twikoo.all.min.js';
  s.onload = () => {
    twikoo.init({
      url: 'https://twikoo-api-gmgc.vercel.app',
      el: '#twikoo-test',
      path: '/test'
    }).catch(console.error);
  };
  document.head.appendChild(s);
</script>
